:root {
 --w : window.innerWidth;
    --h : window.innerHeight;
  }
body {
    width: w; 
}

* {   
    margin: 0px 30px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'open sans', sans-serif;
}



.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;
    padding: 30px 50px;
}

.section-title {
    text-align: left;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

#nav-bar {
    text-align: center;
}

#banner {
    position: relative;
    width: 100vw;
    height: 55vh;
    padding: 0px 0px; ;
    text-align: center;
    color: white;
}

#banner img {
    filter: brightness(40%); 
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

#banner-name {
    
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    top: 33.3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #nav-bar .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height:60px;
} */

#nav-bar .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    height:60px;
  }

#nav-bar img {
    margin-top: -85px;
    position: relative;
    width: 150px;
    translate: transform(-50%, -50%);
    border-radius: 50%;
}


#nav-bar .container a{
    position: relative;
    text-transform: uppercase;
    align-self: stretch;
    border-left: #dedede solid 0.5px;
    border-right: #dedede solid 0.5px;
    padding: 20px 50px;
    text-decoration: none;
}
#about {
        padding: 0px;
    height: 38vh;
}

#about .container {
    margin: 30px 35px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    align-items: center;
    grid-gap : 50px;
}

#social-media{
    position: relative;
    margin: 100px; !important;
}

#job-info {

    margin: 0px 38px;
}
#job-info .container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,23vw);
    grid-row-gap : 50px;
    grid-column-gap: 30px; ;
    left: 8%;

}

.job-container  {
    border: 1px solid #000;
}


.exp-title {
    padding: 10px 30px;
display: flex;
justify-content: space-between;
}

i {
    font-size: 30px;
    color: #71deca;
    margin-right: 10px;

}

#hobby {
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* 
.hobby-icon {
    display: grid;
    justify-content: center;
} */